footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000; /* Change the background color to black */
    color: #fff; /* Change the text color to white */
  }
  
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  
  .column h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .column ul li {
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons li {
    list-style-type: none;
  }
  
  /* Add this for the Mobile App section */
  .mobile-app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .mobile-app .logo {
    grid-row: 1 / 3;
  }
  
  .mobile-app .apple-store {
    grid-row: 1;
  }
  
  .mobile-app .android-store {
    grid-row: 2;
  }
  